/*
  File: 100-loop_col.scss
  Description: Creates classes with different widths using @for statement and operators.
*/

// Generate only .col-1 class with width 100%
.col-1 {
    width: 100%;
}