/*
  This is a SCSS file that sorts a list of names.
  Created for the alx-frontend-for-fun project.
*/

$list_to_sort: john anna zoe kim felicia carrie;

@function sort($list) {
    $length: length($list);
    $sorted_list: (
    );

@for $i from 1 through $length {
    $lowest: nth($list, 1);
    $lowest_index: 1;

    @for $j from 2 through length($list) {
        @if nth($list, $j) < $lowest {
            $lowest: nth($list, $j);
            $lowest_index: $j;
        }
    }

    $sorted_list: append($sorted_list, $lowest);
    $list: remove($list, $lowest_index);
}

@return $sorted_list;
}

$list_to_sort: sort($list_to_sort);

@debug $list_to_sort;